.center {
  text-align: center;
}

.spin {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spining infinite 20s linear;
  }
}

@keyframes spining {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3em;
  font-weight: lighter;
  line-height: 0%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.link {
  text-decoration: none;
  color: blue;
}

.link:hover {
  cursor: pointer;
}

.border {
  border: 1px solid black;
}

.full-width {
  width: auto;
}

.icon {
  display: flex;
  justify-content: center;
}


